* {
    margin: 0;
    padding: 0;
}

.form-wrapper {
    /* margin: 10px; */
    /* display: flex;
    justify-content: center; */
}

input, select, textarea {
    border: 1px solid #D1C7C7;
    letter-spacing: 0.01rem;
    font-size: 0.9rem;
    padding: 15px;
    display: flex;
    width: 90vw;
    border-radius: 10px;
    margin-bottom: 10px;
}

.submit-bttn {
    width: 50%;
    padding: 10px;
    background-color: #5CC7F7;
    border: none;
    font-weight: bold;
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

