* {
    margin: 0;
    letter-spacing: 0.03rem;
    font-family: Helvetica, Arial, sans-serif;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 90vw;
}

.artwork-page {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.artist-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: initial;
    width: 90vw;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

h6 {
    margin-bottom: 0px;
}

.artwork-title {
    font-weight: bold;
}

.artwork-title, .artwork-subtitle {
    color: #555555;
}

.artwork-price {
    color:  #9e9e9e;
    
}

.artist-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.description {
        width: 90vw;
}

.description-title {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #555555;
}



.comment-button, .remove-bttn, .edit-bttn {
    width: 45vw;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: #5CC7F7;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
}

.cart-bttn, .wish-bttn {
    width: 35vw;
    padding: 10px;
    background-color: #5CC7F7;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.01rem;
    font-size: 0.6rem;
    margin-left: 10px;
}


.product-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #cecece;
    position: fixed;
    bottom: 0;
    z-index: 1;
}