
.icon {
    width: 60px;
    padding: 10px;
}


.nav-bar footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #CECECE;
    background-color: white;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

