/* CSS page set up and done by Demi */

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  /* border-bottom: 1px solid #cecece; */
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-nav-title {
  /* kill those pesky mouseevent from CSS */
  pointer-events: none;
  text-transform: capitalize;
  color: #878787;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 20px;
}

.arrow-top {
  width: 60px;
  padding: 10px;
}



.search-bar {
  width: 60px;
  padding: 10px;
}
